---
layout: base2
---

<div class="home robotoMono f6 f4-ns">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- Flex container for centering the canvas -->
  <div style="display: flex; justify-content: center; align-items: center; height: 50vh; margin: 0;">
    <!-- Outer div to control iframe dimensions and cropping -->
    <div style="width: 90vw; max-width: 465px; height: calc(90vw * 0.64); max-height: 300px; overflow: hidden; position: relative;">
      <!-- Adjust the iframe to remove scrolling -->
      <iframe src="https://editor.p5js.org/francomag100/full/b6sV_ijxw" 
              style="width: 100%; height: calc(100% * 1.14); border: none; position: absolute; top: -15%; overflow: hidden; scrollbar-width: none;" 
              scrolling="no">
      </iframe>
    </div>
  </div>

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <p class="f6 f5-ns pb0">I’m a recent graduate of Columbia University, where I studied computer science with interests in design, technology, and journalism.</p>
  {%- endif -%}
</div>
