---
layout: base2
---

<div class="home robotoMono f6 f4-ns">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <!-- <p class="pt4 pb2"></p> -->
    <div>
      {%- for post in site.posts %}
        <div class="w-100 mb4">
          <a href="{{ post.externalUrl | default: post.url | relative_url }}">
            <img src="{{ post.thumbImagePath | relative_url }}" class="mb2" alt="{{ post.title }}">
            <p class="post-link pt2 mb2">{{ post.title | upcase | escape }}</p>
            <p class="f7 f5-ns pb3">{{ post.shortDescription }}</p>
          </a>
        </div>
      {%- endfor %}
    </div>
  {%- endif -%}
</div>
